In [1]:
# import the libraries 
from __future__ import print_function
import tensorflow as tf
import keras
from keras.models import Sequential, load_model
from keras.layers import Dense, Dropout, Flatten, Conv2D, MaxPooling2D
from keras import backend as K
from keras.preprocessing.image import ImageDataGenerator
from keras.preprocessing import image
import numpy as np
import pandas as pd

# get the gpu to do the train
from keras import backend as K
K.tensorflow_backend._get_available_gpus()

# to supress warnings
import os
os.environ['TF_CPP_MIN_LOG_LEVEL'] ='2'

Using TensorFlow backend.

In [2]:
# check for the gpu
from tensorflow.python.client import device_lib
print(device_lib.list_local_devices())

[name: "/device:CPU:0"
device_type: "CPU"
memory_limit: 268435456
locality {
}
incarnation: 16119694740792418817
, name: "/device:GPU:0"
device_type: "GPU"
memory_limit: 3157314764
locality {
  bus_id: 1
  links {
  }
}
incarnation: 6197644592431770360
physical_device_desc: "device: 0, name: GeForce GTX 1050 Ti, pci bus id: 0000:01:00.0, compute capability: 6.1"
]

In [3]:
# number of classes
num_classes = 8

# number of batch size and the epochs
batch_size = 32
epochs = 15

# input image dimnsions
img_rows, img_cols = 250, 140
target_size = (img_rows, img_cols)
color_mode = 'rgb'

# checking for shape includding the channels
if K.image_data_format() == 'channels_first':
    input_shape = (3, img_rows, img_cols)
else:
    input_shape = (img_rows, img_cols, 3)
    
# setting the file to be read
train_path = './train'
valid_path = './valid'
test_path_1 = './test1'
test_path_2 = './test2'

In [4]:
# image Augmentation
datagen = ImageDataGenerator(rescale=1/255, shear_range=0.2, horizontal_flip=True, vertical_flip=True)

# loading the training data
training_data = datagen.flow_from_directory(train_path, target_size = target_size, batch_size = batch_size,
                                            class_mode = 'categorical', color_mode = color_mode, shuffle = True)

Found 3301 images belonging to 8 classes.

In [5]:
# image Augmentation
datagen = ImageDataGenerator(rescale=1/255)

# loading the validation data
validation_data = datagen.flow_from_directory(valid_path, target_size = target_size, batch_size = batch_size,
                                            class_mode = 'categorical', color_mode = color_mode, shuffle = True)

Found 476 images belonging to 8 classes.

In [6]:
# image Augmentation
datagen = ImageDataGenerator(rescale=1/255)

# loading the test data
test_data_1 = datagen.flow_from_directory(test_path_1, target_size = target_size, batch_size = 50,
                                            class_mode = None, color_mode = color_mode, shuffle = False)

Found 1000 images belonging to 1 classes.

In [7]:
# image Augmentation
datagen = ImageDataGenerator(rescale=1/255)

# loading the test data
test_data_2 = datagen.flow_from_directory(test_path_2, target_size = target_size, batch_size = 3,
                                            class_mode = None, color_mode = color_mode, shuffle = False)

Found 12153 images belonging to 1 classes.

In [8]:
# define the model
model = Sequential()
model.add(Conv2D(40, kernel_size=(3,3), padding='same', activation='relu', input_shape=input_shape))
model.add(Conv2D(40, kernel_size=(3,3), activation='relu'))
model.add(Conv2D(40, kernel_size=(3,3), strides = 2, activation='relu'))
model.add(Conv2D(80, kernel_size=(3,3), padding='same', activation='relu'))
model.add(Conv2D(80, kernel_size=(3,3), activation='relu'))
model.add(Conv2D(80, kernel_size=(3,3), strides = 2, activation='relu'))
model.add(Flatten())
model.add(Dense(160, activation='relu'))
model.add(Dropout(0.5))
model.add(Dense(num_classes, activation='softmax'))

In [9]:
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
conv2d_1 (Conv2D)            (None, 250, 140, 40)      1120
_________________________________________________________________
conv2d_2 (Conv2D)            (None, 248, 138, 40)      14440
_________________________________________________________________
conv2d_3 (Conv2D)            (None, 123, 68, 40)       14440
_________________________________________________________________
conv2d_4 (Conv2D)            (None, 123, 68, 80)       28880
_________________________________________________________________
conv2d_5 (Conv2D)            (None, 121, 66, 80)       57680
_________________________________________________________________
conv2d_6 (Conv2D)            (None, 60, 32, 80)        57680
_________________________________________________________________
flatten_1 (Flatten)          (None, 153600)            0
_________________________________________________________________
dense_1 (Dense)              (None, 160)               24576160
_________________________________________________________________
dropout_1 (Dropout)          (None, 160)               0
_________________________________________________________________
dense_2 (Dense)              (None, 8)                 1288
=================================================================
Total params: 24,751,688
Trainable params: 24,751,688
Non-trainable params: 0
_________________________________________________________________

In [10]:
# compile the loss funcation and the optimizer funcation
model.compile(loss=keras.losses.categorical_crossentropy, optimizer=keras.optimizers.Adam(), metrics=['accuracy'])

In [11]:
# train the model
STEP_SIZE_TRAIN = training_data.n // training_data.batch_size
STEP_SIZE_VALID = validation_data.n // validation_data.batch_size

model.fit_generator(generator = training_data,
                    steps_per_epoch = STEP_SIZE_TRAIN,
                    validation_data = validation_data,
                    validation_steps = STEP_SIZE_VALID,
                    epochs = epochs
)

Epoch 1/15
103/103 [==============================] - 66s 640ms/step - loss: 1.6800 - acc: 0.4369 - val_loss: 1.6199 - val_acc: 0.5067
Epoch 2/15
103/103 [==============================] - 67s 647ms/step - loss: 1.5110 - acc: 0.4906 - val_loss: 1.5155 - val_acc: 0.5203
Epoch 3/15
103/103 [==============================] - 68s 664ms/step - loss: 1.3821 - acc: 0.5075 - val_loss: 1.3235 - val_acc: 0.5563
Epoch 4/15
103/103 [==============================] - 70s 678ms/step - loss: 1.2978 - acc: 0.5357 - val_loss: 1.3298 - val_acc: 0.5428
Epoch 5/15
103/103 [==============================] - 70s 682ms/step - loss: 1.2137 - acc: 0.5690 - val_loss: 1.1418 - val_acc: 0.6014
Epoch 6/15
103/103 [==============================] - 71s 689ms/step - loss: 1.1082 - acc: 0.6115 - val_loss: 1.0198 - val_acc: 0.6351
Epoch 7/15
103/103 [==============================] - 71s 693ms/step - loss: 0.9651 - acc: 0.6575 - val_loss: 0.8685 - val_acc: 0.7320
Epoch 8/15
103/103 [==============================] - 73s 710ms/step - loss: 0.8134 - acc: 0.7200 - val_loss: 0.7108 - val_acc: 0.7568
Epoch 9/15
103/103 [==============================] - 76s 741ms/step - loss: 0.6931 - acc: 0.7623 - val_loss: 0.5807 - val_acc: 0.8063
Epoch 10/15
103/103 [==============================] - 140s 1s/step - loss: 0.6012 - acc: 0.8015 - val_loss: 0.4974 - val_acc: 0.8153
Epoch 11/15
103/103 [==============================] - 139s 1s/step - loss: 0.4917 - acc: 0.8306 - val_loss: 0.3744 - val_acc: 0.8716
Epoch 12/15
103/103 [==============================] - 138s 1s/step - loss: 0.4490 - acc: 0.8466 - val_loss: 0.4294 - val_acc: 0.8626
Epoch 13/15
103/103 [==============================] - 137s 1s/step - loss: 0.3986 - acc: 0.8696 - val_loss: 0.3490 - val_acc: 0.8941
Epoch 14/15
103/103 [==============================] - 138s 1s/step - loss: 0.3281 - acc: 0.8932 - val_loss: 0.3729 - val_acc: 0.8896
Epoch 15/15
103/103 [==============================] - 138s 1s/step - loss: 0.3336 - acc: 0.8937 - val_loss: 0.2945 - val_acc: 0.9054

In [12]:
model.save('my_2nd_model.h5')  # creates a HDF5 file 'my_model.h5'

In [13]:
test_data_1.reset()
predictions_1 = model.predict_generator(test_data_1, steps=20, verbose=0)

In [14]:
FishNames = ['ALB', 'BET', 'DOL', 'LAG', 'NoF', 'OTHER', 'SHARK', 'YFT']

test_image_list = test_data_1.filenames
f_submit = open('submit_1_b.csv', 'w')
f_submit.write('image,ALB,BET,DOL,LAG,NoF,OTHER,SHARK,YFT\n')

for i, image_name in enumerate(test_image_list):
    pred = ['%.6f' % p for p in predictions_1[i, :]]
    f_submit.write('%s,%s\n' % (os.path.basename(image_name), ','.join(pred)))

f_submit.close()

In [15]:
df_1 = pd.read_csv('submit_1_b.csv')
df_1.head(2)

,image,ALB,BET,DOL,LAG,NoF,OTHER,SHARK,YFT
0,img_00005.jpg,0.000570,0.000000,0.000013,0.000000,0.999400,0.000013,0.0,0.000004
1,img_00007.jpg,0.994659,0.000704,0.000070,0.000343,0.000157,0.000111,0.0,0.003955

In [16]:
test_data_2.reset()
predictions_2 = model.predict_generator(test_data_2, steps=4051, verbose=0)

In [17]:
FishNames = ['ALB', 'BET', 'DOL', 'LAG', 'NoF', 'OTHER', 'SHARK', 'YFT']

test_image_list = test_data_2.filenames
f_submit = open('submit_2_b.csv', 'w')
f_submit.write('image,ALB,BET,DOL,LAG,NoF,OTHER,SHARK,YFT\n')

for i, image_name in enumerate(test_image_list):
    pred = ['%.6f' % p for p in predictions_2[i, :]]
    f_submit.write('%s,%s\n' % (os.path.basename(image_name), ','.join(pred)))

f_submit.close()

In [18]:
df_2 = pd.read_csv('submit_2_b.csv')
df_2.head(2)

,image,ALB,BET,DOL,LAG,NoF,OTHER,SHARK,YFT
0,image_00001.jpg,0.264242,0.172134,0.011821,0.027255,0.051512,0.258965,0.070480,0.143592
1,image_00002.jpg,0.057599,0.001027,0.012868,0.000183,0.892273,0.002944,0.000003,0.033104

In [19]:
df_2['image'] = df_2['image'].map(lambda x: 'test_stg2/' + x)

In [20]:
df_2.head(2)

,image,ALB,BET,DOL,LAG,NoF,OTHER,SHARK,YFT
0,test_stg2/image_00001.jpg,0.264242,0.172134,0.011821,0.027255,0.051512,0.258965,0.070480,0.143592
1,test_stg2/image_00002.jpg,0.057599,0.001027,0.012868,0.000183,0.892273,0.002944,0.000003,0.033104

In [21]:
new_df = pd.concat([df_1, df_2])

In [22]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13153 entries, 0 to 12152
Data columns (total 9 columns):
image    13153 non-null object
ALB      13153 non-null float64
BET      13153 non-null float64
DOL      13153 non-null float64
LAG      13153 non-null float64
NoF      13153 non-null float64
OTHER    13153 non-null float64
SHARK    13153 non-null float64
YFT      13153 non-null float64
dtypes: float64(8), object(1)
memory usage: 1.0+ MB

In [23]:
new_df.reset_index(drop=True, inplace=True)

In [24]:
new_df.to_csv('f_b.csv')